body {
    background-color: #001e6b;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    
  }

.rtn {
  position: relative;
  bottom: 80px;
  left: 16px;
  font-family: 'Luckiest Guy', cursive;
  color: antiquewhite;
}
p {
  position: relative;
  bottom: 10px;
  left: 16px;
  font-family: 'Luckiest Guy', cursive;
}
img {
    margin: 10px;
    
}
h1,
button,
div,  
form,  
input {      
    margin: 10px;  
    font-family: 'Luckiest Guy', cursive;
}
.soccer-btn,
img,
.pointer {cursor: pointer;}