body {
    background-color: #001e6b;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    
  }


p,
img {
    margin: 10px;
    float: left;
    font-family: 'Luckiest Guy', cursive;
}
h1,
button,
div,  
form,  
input {      
    margin: 10px;  
    font-family: 'Luckiest Guy', cursive;
}
.soccer-btn,
.pointer {cursor: pointer;}